<!DOCTYPE html>
<html lang = 'pl'>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Tata Jasia</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/parallax.js/1.4.2/parallax.min.js"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">
    <link href='{{url_for('static', filename="css/styles.css")}}' rel="stylesheet">
    {% block head %}{% endblock head %}
</head>
<body>
    <div class="czolowka">
        <h1> Telekomunikacja Bezprzewodowa </h1>
        <nav>
            <a href="{{ url_for('index') }}">
                <button>O nas</button>
            </a>
            <a href="{{ url_for('projekty') }}">
            <button>Projekty</button>
            </a>
            <button>Kontakt</button>
            <span class='pasek'><span>Tel. 123-456-789</span><span>E-mail: tatajasia@op.pl</span></span>
        </nav>
    </div>
    <div>
        {% block content %}{% endblock content %}
    </div>
</body>
</html>