{% extends "layout.html" %}
{% block head %}
<script type="module" src="{{ url_for('static', filename='js/projekty.js') }}"></script>{% endblock head %}
{% block content %}


<section class="image" data-parallax="scroll" data-image-src="static/sky4.jpg">


  <div class='przerwa' style="padding-top: 20vh; margin-top: 0;">
    <div class="blokiinfocontainer1">
      <div class='textobok textbook-1'>
        Telekomunikacjo Bezprzewodowa, ty jesteś jak zdrowie; ile cię trzeba cenić, 
        <br> ten tylko się dowie,kto cię stracił. Dziś piękność twą w całej 
      </div>
    </div>
    <div class="blokiinfocontainer2">
      <div class="textobok textbook-2">
        Panno święta, co Jasnej bronisz Częstochowy i w Ostrej świecisz Bramie! 
        <br>Ty, co gród zamkowy Nowogródzki ochraniasz z jego wiernym ludem!
      </div>
    </div>
  </div>
  
    <div class="przerwa">
      <div class="podzialcontainer">
        <div class="podzial" style="margin-bottom: 15px; float: right; text-align: left; padding: 5px 5px 5px 100px;"> Pierwszy nagłówek
        </div>
        <div class="podzialnowy" style="display: inline-block; width: 100%;">
          <div class="zakrescontainer2">
            <div id="slideshow-container-2" class="slideshow-container" style="display:inline-block;">

              <div class="myslides fade">
                <img class="slides" src="{{url_for('static', filename='mountain.jpg' )}}" alt="pic1">
              </div>

              <div class="myslides fade">
                <img class="slides" src="{{url_for('static', filename='snowtops.jpg' )}}" alt="pic2">
              </div>

              <div style="text-align:center">
                <span class="dot" data-slide="0"></span>
                <span class="dot" data-slide="1"></span>
              </div>
              <a class="prev">&#10094;</a>
              <a class="next">&#10095;</a>
            </div>
            <div class="textprawy" style="text-align: left;">Lorem ipsum dolor sit amet, consectetur adipiscing <br>elit,
          sed do eiusmod tempor incididunt ut labore <br> et dolore
          magna aliqua. Ut enim ad minim veniam, <br>quis nostrud exercitation ullamco laboris <br>nisi ut aliquip ex ea
          commodo consequat.
            </div>
          </div>
        </div>
      </div>

  <div class='przerwa'>
    <div class="blokiinfocontainer1" style="margin-top: 5vh; width: 85%;">
      <div class='textobok textbook-1'>
        To wszystko w tej Eucharystii ogarniam myślą i sercem i włączam  <br>
        w tę jedną jedyną Najświętszą Ofiarę Chrystusa na placu Zwycięstwa.
      </div>
    </div>
    <div class="blokiinfocontainer1" style="margin-top: 2vh; width: 85%;">
      <div class='textobok textbook-1'>
        I wołam, ja, syn polskiej ziemi, a zarazem ja: Jan Paweł II papież, wołam z całej
        <br>głębi tego tysiąclecia, wołam w przeddzień święta Zesłania, wołam wraz z wami wszystkimi:
      </div>
    </div>
    <div class="blokiinfocontainer1" style="margin-top: 2vh; width: 85%;">
      <div class='textobok textbook-1'>
        Niech zstąpi Duch Twój! Niech zstąpi Duch Twój! I odnowi oblicze ziemi.
        <br> Tej Ziemi!
      </div>
    </div>
  </div>

  <div class="przerwa" style="margin-bottom: 0;">
    <div class="podzialcontainer">
      <div class="podzial" style="margin-bottom: 15px"> Nagłówek
      </div>

      <div class="zakrescontainer2">
        <div class="textprawy" style="text-align: right">Lorem ipsum dolor sit amet, consectetur adipiscing <br>elit,
          sed do eiusmod tempor incididunt ut labore <br> et dolore
          magna aliqua. Ut enim ad minim veniam, <br>quis nostrud exercitation ullamco laboris <br>nisi ut aliquip ex ea
          commodo consequat.
        </div>
        <div id="slideshow-container-1" class="slideshow-container">

          <div class="myslides fade">
            <img class="slides" src="{{url_for('static', filename='mountain.jpg' )}}" alt="zjebałam vol.1">
          </div>

          <div class="myslides fade">
            <img class="slides" src="{{url_for('static', filename='snowtops.jpg' )}}" alt="znowu zjebałam (vol.2)">
          </div>

          <div style="text-align:center">
            <span class="dot" data-slide="0"></span>
            <span class="dot" data-slide="1"></span>
          </div>
          <a class="prev">&#10094;</a>
          <a class="next">&#10095;</a>
        </div>
      </div>
    </div>

</section>


{% endblock content %}